<div class="feature-descriptions-component feature-descriptions">
    <div class="description-item">
        <div class="icon-image">
            <img src="{{ block.settings.icon1 | img_url: 'small' }}" alt="{{ block.settings.title1 }}">
        </div>
        <div class="description">
            <h6>{{ block.settings.title1 }}</h6>
            {{ block.settings.text1 }}
        </div>
    </div>
    <div class="description-item">
        <div class="icon-image">
            <img src="{{ block.settings.icon2 | img_url: 'small' }}" alt="{{ block.settings.title2 }}">
        </div>
        <div class="description">
            <h6>{{ block.settings.title2 }}</h6>
            {{ block.settings.text2 }}
        </div>
    </div>
</div>